<!doctype html>
<html>
<head>
    <title>Skills-Web</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>

<h1><center>WELCOME!!</center></h1> 
 	<h2><p class="stuff">Are you Ready for the next <i class="in-between">Big Leap?</i><br>Join a great group of like minded individuals in the quest for the next <i class="in-between">Perfect Job!!</i></p></h2> 
 	<form action="/application" method="POST"> 
 		<label>What is your first name?:   <input type="text" class="input-box" name="firstname"></label> 
 		<br> 
 		<br> 
 		<label>What is your last name?:   <input type="text" class="input-box" id="lastname" name="lastname"></label> 
 		<br> 
 		<br> 
 		<label>What is your salary requirement?:   <input type="number" class="input-box" name="salary"></label> 
 		<br> 
 		<br> 
 		<label for="jobtitle"> What Job would you like to apply for? : </label>  
 		<select id="jobtitle" name="select"> 
 			<option value="choice">Choose from Below</option> 
 			<option value="engineer">Software Engineer</option> 
 			<option value="engineer">QA Engineer</option> 
 			<option value="manager">Product Manager</option> 
 		</select> 
 		<br> 
 		<br> 
 
 
 		<input type="submit" class="input-box" name="submit" value="Submit Search"> 
 
 
	</form> 


<!-- This page needs a form that can capture data about the user's
first name, last name, job title, and salary requirements. -->

</body>
</html>