<!doctype html>
<html>
<head>
	   <link rel="stylesheet" href="./styles.css">
	   <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>

    <title><center>CareerPAnda</center></title>
</head>
<body>

<div class="row">
	<div>
    <div>

	<img class= "col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4" src="http://images.clipartpanda.com/red-panda-clipart-kungfu5.gif" width="300" height="300" alt="Panda">
	<br>
	</div>
</div>
</div>

<div class="row">
<br>
<h1><center>CareerPanda!!</center><center>Wrap up your search for the Dream Job.</center><center>Your wait ends here!!</center></h1>

<p class="lead"><center>Careers when you need it.</center></p>
<br>

<a class="submit_button" href="/application-form"><center><b>START HERE!</b></center></a>


</div>

<br>
<br>
<footer>
    <p><center>Copyright CareerPanda 2016. All rights reserved.</center></p>
</footer>

</body>
</html>